tr 
{
    text-align: center;
}

input[type=text], select
{
    border-radius: 4px;
    margin: 8px 0;
}

input[type=date]
{
    border-radius: 4px;
    margin: 8px 0;
}

.card
{
 margin-top: 3%;
}



h2
{
    text-align: center;
    margin-top: 30px;
   
}

h2 button
{
    text-align: center;
    margin-left: 10px;

   
}

h2 input[type=text]
{
    width:30%;
    border-radius: 4px;
    margin-top: 20px;
    display: inline;
}


button
{
 margin-left: 10px;
}

nav a 
{
  padding: 5px;
}
@media only screen and (max-width: 600px) {
    h2 button{
        margin-top: 2%;
    }
    
    
h2 input[type=text]
{
    width:95%;
    border-radius: 4px;
    margin-top: 20px;
    display: inline;
}

.navbar-text
{
    position: absolute;
    left: 120px;
    top: 0px;
}

}
 input[type=number]
{
    margin-left: 15px;
  }

 .btncreate
 {
margin-top: 15px;

 }

 .my-custom-scrollbar {
    position: relative;
    height: 550px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

.navbar-text
{
    position: absolute;
    right: 110px;
    top: 5px;
}